<div class="d-flex justify-content-center mb-3">
    <button class="roll-dice" data-dice-x="1">
        <span class="fas fa-fw fa-dice-d6"></span>
        {{localize "tinyd6.dice.roll.disadvantage"}}
    </button>
    <button class="roll-dice mx-3" data-dice-x="2">
        <span class="fas fa-fw fa-dice"></span>
        {{localize "tinyd6.dice.roll.standard"}}
    </button>
    <button class="roll-dice" data-dice-x="3">
        <span class="fas fa-fw fa-cubes"></span>
        {{localize "tinyd6.dice.roll.advantage"}}
    </button>
</div>