<div class="d-flex justify-content-center mb-3">
    <button class="roll-disadvantage mx-3">{{localize "tinyd6.dice.roll.disadvantage"}}</button>
    <button class="roll-standard mx-3">{{localize "tinyd6.dice.roll.standard"}}</button>
    <button class="roll-advantage mx-3">{{localize "tinyd6.dice.roll.advantage"}}</button>
</div>