<div class="d-flex {{flexClass}} justify-content-center {{#if (eq flexClass "")}}mb-3{{/if}}">

    <button class="roll-dice" data-dice-x="1">
        <span class="fas fa-fw fa-dice-d6"></span>
        {{localize "tinyd6.dice.roll.disadvantage"}}
    </button>
    <button class="roll-dice {{#if (eq flexClass "")}}mx-3{{/if}}" data-dice-x="2">
        <span class="fas fa-fw fa-dice"></span>
        {{localize "tinyd6.dice.roll.standard"}}
    </button>
    <button class="roll-dice" data-dice-x="3">
        <span class="fas fa-fw fa-cubes"></span>
        {{localize "tinyd6.dice.roll.advantage"}}
    </button>
</div>