<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd6/templates/partials/item-header.hbs" placeholder='tinyd6.gear.name'}}
    {{editor content=system.description target="data.description" button=true owner=owner editable=editable}}
</form>
