<form class="{{cssClass}}" autocomplete="off">
    {{> "systems/tinyd6/templates/partials/item-header.hbs" placeholder='tinyd6.trait.name'}}
    {{editor system.description target="system.description" button=true owner=owner editable=editable}}
</form>
