.stat-values
{
  .property,
  &.property
  {
    min-height: toRem(27px);
  }

  label
  {
    @extend .im-fell-great-primer;

    font-size: 9pt;
    text-transform: uppercase;
    display: block;
    padding: 0;
    margin: 0;
    margin-top: auto;

    span
    {
      display: inline-block;
      background-color: $gray-900;
      color: $white;
      padding: 0.25rem 1.5rem 0.25rem 0.5rem;
      clip-path:
        polygon(
            0% 0%,
            0% 0%,
            calc(100% - 1rem) 0%,
            100% 100%,
            100% calc(100% - 1rem),
            100% 100%,
            0% 100%,
            0% 100%
        );
    }
  }
}
