$h1-background: rgba(36, 32, 33, 0.69);
$h1-text: #fff;

$input-focus-background: #fff;
$input-focus-border: #7a7971;
                                                      
$item-equipped-color: $primary;