$h1-background: transparent;
$h1-text: $gray-900;

$input-focus-background: #fff;
$input-focus-border: #7a7971;
                                                      
$item-equipped-color: $primary;

$dice-breakdown-background: $white;
$dice-breakdown-color: $danger;

$notchSize: toRem(12px);

$button-background: $gray-700;
$button-color: $gray-100;